.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(204, 207, 212, 0.5);
    border-top: none;
    padding: 10px;
    background-color: white;

    &.first {
        border-top: 1px solid rgba(204, 207, 212, 0.5);
    }

    &.all {
        border-bottom: 2px solid rgba(204, 207, 212, 0.5);
    }

    &-label {
        margin-left: 10px;
        font-weight: 300;
    }

    &-input {
        margin-left: 10px;
        font-size: 1rem;
        font-weight: 300;
        border: none;
        outline: none;

        &::placeholder {
            color: black;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    span.search {
        display: inline-block;
        transform: rotate(90deg);
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: black;
    }
}