.date-picker-header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    background-color: #FF6B01;

    .year {
        font-size: 1rem;
        font-weight: 300;
    }

    .date {
        font-size: 2rem;
        font-weight: 300;
    }
}