.date-picker-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background-color: #FF6B01;

    .date {
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
            span {
                text-align: right;
            }
        }

        .year {
            font-size: 1rem;
            font-weight: 300;
        }
    
        .month-day {
            font-size: 2rem;
            font-weight: 300;
        }
    }
}