.date-picker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  color: white;
  background-color: #FF6B01;
}

.date-picker-header .year {
  font-size: 1rem;
  font-weight: 300;
}

.date-picker-header .date {
  font-size: 2rem;
  font-weight: 300;
}
