.select {
  position: relative;
}

.select-dropdown {
  width: 100%;
  position: absolute;
  z-index: 10;
}

.select-dropdown .scroll-area {
  overflow-y: overlay;
  max-height: 230px;
}

.select-dropdown .scroll-area::-webkit-scrollbar {
  width: 9px;
}

.select-dropdown .scroll-area::-webkit-scrollbar-thumb {
  background-color: #DCE2E8;
}

.select-dropdown .scroll-area::-webkit-scrollbar-track {
  background-color: whitesmoke;
}
