.select-dropdown {
    width: 100%;
    position: absolute;
    z-index: 10;

    .overlay-scrollbar {
        .os-scrollbar-vertical {
            width: 8px !important;
            padding: 0;

            .os-scrollbar-handle {
                border-radius: 0 !important;
                background: #DCE2E8 !important;
            }
        }
    }
}