.select-input {
    cursor: pointer;
    user-select: none;
    padding: 10px 16px;
    border-bottom: 1px solid black;

    &.active {
        border-bottom: 1px solid transparent;
    }

    &-label {
        font-weight: 400;
        color: #bdbdbd;
        font-size: 14px;
    }

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;    

        span {
            display: inline-block;
            transform: rotate(90deg);
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
            color: black;
        }
    }
}