.select-input {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 16px;
  border-bottom: 1px solid black;
}

.select-input.active {
  border-bottom: 1px solid transparent;
}

.select-input-label {
  font-weight: 400;
  color: #bdbdbd;
  font-size: 14px;
}

.select-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select-input-container span {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: black;
}
