.date-picker-calendar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.date-picker-calendar .cell {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 300;
}

.date-picker-calendar .cell.non-empty-cell {
  cursor: pointer;
}

.date-picker-calendar .cell.active {
  color: white;
  background-color: #FF6B01;
}

.date-picker-calendar .cell.non-empty-cell:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.date-picker-calendar .cell.non-empty-cell.active:hover {
  color: white;
  background-color: #FF6B01;
}
